<h1>Current Patient's</h1>

<%= @patient.first_name %>
<br>
<%= @patient.last_name %>
<br>
<%= @patient.dob %>
<br>
<%= @patient.description %>
<br>
<%= @patient.gender %>
<br>
<%= @patient.bloodtype %>
<br>
<br>
<%= link_to "View Medications", hospital_patient_medications_path(@hospital, @patient) %>
<br>

<%= link_to "Edit", edit_hospital_patient_path(@hospital, @patient) %>
<br>
<%= link_to "Delete", hospital_patient_path(@hospital, @patient), method: :delete %>
<br>
<br>
<%= link_to "Back", hospital_patients_path %>