/ javascript void, class: "check-patient", patient_id: @patient_id

.container
  = hidden_field_tag 'patient_id', @patient.id
  = hidden_field_tag 'hospital_id', @patient.hospital_id
  .row
    .col-md-6
    .col-md-6.patient-show
      %h1 Current Patient's Information
      %ul
        %li.patientsclass{ class: patient_current_state?(@patient)}
          .some
            =render 'workflow_patient'
      %br
      %br
      %ul
        - @patient.medications.each do |m|
          %li
            =m.medication_name
            =m.medication_dosage
      %br/
      %br/
      = link_to "Edit", edit_hospital_patient_path(@hospital, @patient), class: "btn btn-success"
      = link_to "Delete", hospital_patient_path(@hospital, @patient), method: :delete, class: "btn btn-danger"
      %br/
      %br/
      = link_to "Back", hospital_patients_path, class: "btn btn-danger"
