%h1 List of Hospitals
= form_for @hospital do |p|
  - if @hospital.errors.any?
    - @hospital.errors.full_messages.each do |message|
      = message
      %br/
      %br/
  = p.label :hospital_name
  = p.text_field :hospital_name
  %br/
  - @doctors.each do |d|
    = check_box_tag 'hospital[doctor_ids][]', d.id, @hospital.doctors.include?(d)
    = d.name
  %br/
  = p.submit
  %br/
  %br/
  = link_to "Cancel", root_path
