.container
  .row
    .col-md-6
    .col-md-6.doc-index
      %h1.doctor-show List of Doctors
      = link_to "Add Doctor", new_doctor_path\
      %br
      %br
      - @doctors.each do |doctor|
        = doctor.name
        %br
        = doctor.practice
        %br
        = link_to "View Doctor", doctor_path(doctor)
        %br
        %br
      = link_to "Back", :back, class: "btn btn-danger"