!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Day12Homework
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = link_to "Home", root_path, class: "btn btn-primary"
    = link_to "Doctors", doctors_path, class: "btn btn-default"
    / %img{ src: "/assets/Hospital.jpg", class: "img-responsive", alt: "Responsive image" }
    = yield
    = render 'home/searchbars'